.dialog-frm {
  position: fixed;
  z-index: 100;
  overflow: hidden;
  box-shadow: 3px 3px 10px #bbb;
  background: white;
  border-radius: 5px;
  color: #666;
  border: 5px solid #bbb;
  display: none;
}
.dialog-frm .dialog-title {
  padding: 5px;
  font-size: 16px;
  text-align: center;
  color: white;
  background-image: -moz-linear-gradient(top, #888888, #bbbbbb);
  /* Firefox */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #888888), color-stop(1, #bbbbbb));
  /* Saf4+, Chrome */
}
.dialog-frm .dialog-close {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 25px;
  line-height: 1em;
  width: 50px;
  padding-right: 9px;
  padding-top: 2px;
  text-align: right;
  color: white;
}
.dialog-frm .dialog-content {
  padding: 10px;
  overflow: auto;
}
.dialog-mask {
  background-color: rgba(199, 199, 199, 0.7);
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
}
